<div class="container">
	<form id = "CurrentUser" action="/" method="GET">
		<p><b>Current User:</b> ID: <%= session[:name] %> Name: <%= session[:name] %> <button type="submit" class="btn btn-default" color: "blue">Sign Out</button></p> 
	</form>


	<form id = "MyAdvertisement" action="/advertisement" method="GET">
	<button type="submit" class="btn btn-default">Manage My Advertisement</button>

	<form id = "MyBooking" action="/booking" method="GET">
		<button type="submit" class="btn btn-default">Manage My Booking</button>
	</form> 
	</form>

</div>

<div class = "container">
	<table class="table table-hover">
			<tr>
				<td> ID </td>
				<td> PROPERTY NAME </td>
				<td> PROPERTY DETAILS </td>
				<td> PRICE (RM) </td>
				<td> POSTED BY </td>
				<td> BOOK </td>
			</tr>
			<% if not @all_properties.nil? %>
				<% @all_properties.each do |row| %>
					<tr>
						<td>
							<%= row.id.to_s %>
						</td>
						<td>
							<%= row.prop_name %>
						</td>
						<td>
							<%= row.prop_details %>
						</td>
						<td>
							<%= row.price %>
						</td>
						<td>
							<%= row.user.name %>
						</td>
						<td>
							Book_Now
						</td>
					</tr>
				<% end %>
				 <% @all_properties = nil %>
			<% end %>
		</table>
</div>