<div class="container">
	<form id = "CurrentUser" action="/" method="GET">
		<p><b>Current User:</b> ID: <%= session[:name] %> Name: <%= session[:name] %> <button type="submit" class="btn btn-default">Sign Out</button></p> 
	</form>

	<h3>Advertise Your Property</h3>

<% if not @edit %>
	<form id="CreateProperty" action="/add_property" method="POST">
		<p><b>Post Title:</b></p><p> <input name="new[prop_name]" type="text"></p>
		<p> <b>Price:</b></p><p><input name="new[price]" type="text" cols="2"></p>
		 <p><b>Details of the property:</b></p><textarea name="new[prop_details]" rows="5" cols="60"></textarea>
		 <p>Tags: (separated with comma ',')</p>
		 <p><input type="text" name="tag" multiple></p>
		 <button type="submit" class="btn btn-default">Submit</button></p>
	</form>
<% else %>
	<% @tags=""%> 
	<% @property_to_edit.tags.each do |tag| %>
		<% @tags+= "#{tag.tag_name}, "%>
	<%end%>
	<form id="CreateProperty" action="/edit_property" method="POST">
		<p><b>Post Title:</b></p><p> <input name="new[prop_name]" type="text" value = <%= @property_to_edit.prop_name %>></p>
		<p> <b>Price:</b></p><p><input name="new[price]" type="text" cols="2" value=<%= @property_to_edit.price %>></p>
		 <p><b>Details of the property:</b></p><textarea name="new[prop_details]" rows="5" cols="60"><%= @property_to_edit.prop_name.to_s%></textarea>
		 <p>Tags: (separated with comma ', ')</p>
		 <p><input type="text" name="tag" value=<%= @tags %> ></p>
		 <button type="submit" class="btn btn-default">Update</button></p>
	</form>
<% end %>
</div>

<div class = "container">
	<h3><b>Manage Your Advertisement</b></h3>
	<table class="table table-hover">
			<tr>
				<td> ID </td>
				<td> Property Name </td>
				<td> Property Details </td>
				<td> Price (RM) </td>
				<td> Created by </td>
				<td> Tags </td>
				<td> Action </td>
			</tr>
			<% if not @all_properties.nil? %>
				<% @all_properties.each do |row| %>
					<tr>
						<td>
							<%= row.id.to_s %>
						</td>
						<td>
							<%= row.prop_name %>
						</td>
						<td>
							<%= row.prop_details %>
						</td>
						<td>
							<%= row.price %>
						</td>
						<td>
							<%= row.user.name %>
						</td>
						<td>
							<% row.tags.each do |tag| %>
								<p><%=tag.tag_name%></p>
							<%end%>
						</td>
						<td>
							<a  href="/edit/<%= row.id.to_s %>"><button style="background-color:green">Edit</button></a>
							<a href="/delete/<%= row.id.to_s %>/delete"><button style="background-color:red">Delete</button></a>
						</td>
					</tr>
				<% end %>
				 <% @all_properties = nil %>
			<% end %>
		</table>
</div>